//Colors
$purple:  #6D4DEB;
$pink:    #F569E9;
$red:     #db3f1d;
$orange:  #F29D13;
$yellow:  #ffee00;

//set colors

$primary:       $purple;
$secondary:     $pink;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";