@use '../custom' as *;
@use '../components/mixin' as *;


.display-2{
    @include media-breakpoint-down(sm){
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    margin-bottom: 2rem;
    font-family: 'Ultra', serif;
    font-size: 3rem;
}

.display-2--intro{
    @include media-breakpoint-down(sm){
        font-size: 1.2rem;
        line-height: 1.7rem;
    }
    font-family:'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 2.3rem;
    font-weight: 300;
}

.catalogo-section{
    h1{
        font-family: 'Ultra', serif;
        font-size: 5rem;
    }
    h4{
        font-weight: 900;
    }
    h5{
        font-family:'Poppins', sans-serif;
        font-weight: 300;
        font-size: 1rem;
    }
    p{
        font-family:'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
    }
}


.carrito{
    display: flex;
    justify-content: center ;
    h4{
        font-family:'Poppins', sans-serif;
        font-weight: 900;
        font-size: 1rem;
    }
    h5{
        font-weight: 300;
        font-size: 1.5rem;
    }
    p{
        font-size: 2.5rem;
    }
}

.nosotros-section{
    color: white;
    @include media-breakpoint-down(sm){
        h1{
            font-size: 1rem;
        }
    }
    h1{
        font-family: 'Ultra', serif;
        font-size: 5rem; 
    }

    p h2{
        font-family:'Poppins', sans-serif;
        font-weight: 300;
        font-size: 1rem;
    }
    p{
        font-size: 2rem;
        text-align: left;
    }
}